* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(217deg, #22a6b3, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #7ed6df, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    width: 50%;
    max-width: 550px;
    color: #fff;
}

.sub-container {
    margin-top: 100px;
    padding: 50px 50px;
}

.sub-container p {
    margin-bottom: 0;
}

.content {
    background: linear-gradient(#95afc0, #9198e5);
    border-radius: 10px;
    padding: 0 20px;
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.img {
    text-align: right;
}

.img1 {
    width: 150px;
}

.search {
    margin-bottom: 30px;
    /* padding: 10px; */
    background: linear-gradient(#95afc0, #9198e5);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.date {
    margin-bottom: 10px;
}

span {
    vertical-align: super;
}

.status {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.content .col {
    margin-bottom: 20px;
}

